body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.matrix {
  text-align: right;
}

.matrix td {
  border: black 1px solid;
  position: relative;
  width: 25px;
}



#coeficientMatrix {
  float: left;
}

#constantMatrix {
  float: left;
}

.container {
  display: flex;
  justify-content: center;
}

#heatmap {
  width: 600px;
  height: 600px;
  border: 1px solid black;
}

#input-data-container {
  padding: 50px;
  width: 30%;
}

.lead { 
  margin-bottom: 0px;
}

#results-container {
  padding: 30px;
}

#title {
  padding-left: 10px;
}